.ipynb_checkpoints/
__pycache__/
.git/
Neural_network_project.zip
Image Classifier Project_local.ipynb
Image Classifier Project.html
untitled.txt
love-in-a-mist-persian-jewels-rose-red-flowers.jpg
Stemless-Gentian-Gentiana-acaulis-0555.jpg
Image Classifier Project_laatst_goede_versie.ipynb_checkpoints
Image Classifier Project_v2.ipynb
Image Classifier Project_orig.ipynb
workspace.py
helper.py
do_training.py
assets/
Image Classifier Project_laatst_goede_versie.ipynb
frangipani.jpg